@model AuTinder.Models.SeenDelivery

@{
    ViewData["Title"] = "LikedDelivery";
}

<h1>LikedDelivery</h1>



<div>
    <h4>SeenDelivery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        @if (Model.Delivery != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Delivery.AddressFrom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Delivery.AddressFrom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Delivery.AddressTo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Delivery.AddressTo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Delivery.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Delivery.Length)
            </dd>
            <!-- Add more delivery details as needed -->
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Add to Delivery Route", "AddDeliveryToRoute", "Delivery", new { id = Model.DeliveryId }) |
    @Html.ActionLink("Back to List", "GetLikedDeliveries")
</div>

                
<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>
<body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhXXLqtEuPoqNOWZZ4OqkNq4ptNREb2Zs&libraries=places&callback=initMap" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: 41.85, lng: -87.65 } // Default center (Chicago)
            });
            directionsRenderer.setMap(map);

            var start = '@Model.Delivery.AddressFrom';
            var end = '@Model.Delivery.AddressTo';
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                    var route = result.routes[0].legs[0];
                    var distance = route.distance.text;
                    var duration = route.duration.text;
                    document.getElementById('distance').innerText = route.distance.text;
                    document.getElementById('duration').innerText = route.duration.text;

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("StoreRouteInfo", "Map")',
                        data: {
                            distance: distance,
                            duration: duration
                        },
                        success: function (response) {
                            console.log('Data sent successfully');
                        },
                        error: function (error) {
                            console.log('Error sending data: ', error);
                        }
                    });
                }
            });

        }
    </script>
</body>