@model AuTinder.Models.Ad

@{
    ViewData["Title"] = "LikedAd";
}

<h1>Liked Ad</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.BodyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.BodyType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.FuelType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Mileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Mileage)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Color)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Inspection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Inspection)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DriveWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DriveWheels)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Gearbox)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Gearbox)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Power)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.SteeringWheelLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.SteeringWheelLocation)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.OutsideState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.OutsideState)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ExtraFunc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ExtraFunc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Rating)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("OpenOrderForm", "Route", new { id = Model.ID })">Start Order</a>
</div>
<a asp-action="ShowLikedAdList" asp-controller="Route">Back to List</a>
<button id="getPartsButton">Get Parts</button>

<div id="partsContainer">
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#getPartsButton').click(function () {
                var make = '@Model.Car.Make';
                var model = '@Model.Car.Model';

                $.ajax({
                    url: '@Url.Action("GetParts", "Parts")',
                    type: 'POST',
                    data: {
                        make: make,
                        model: model
                    },
                    success: function (data) {
                        $('#partsContainer').html(data);
                    },
                    error: function () {
                        alert('Error retrieving parts');
                    }
                });
            });
        });

    </script>
}
