
@{
    ViewData["Title"] = "LikedDeliveries";
}

<h1>LikedDeliveries</h1>

<p>
    <a asp-controller="Route" asp-action="StartFinalDelivery" class="btn btn-primary">Start final delivery</a>
</p>

@foreach (SeenDelivery item in Model)
{
    <div>
        <h4>Delivery ID: @Html.DisplayFor(modelItem => item.DeliveryId)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">User ID</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => item.UserId)</dd>

            <dt class="col-sm-2">Liked</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => item.DeliveryId)</dd>

            <dt class="col-sm-2">Deliver from</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => item.Delivery.AddressFrom)</dd>

            <dt class="col-sm-2">Deliver to</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => item.Delivery.AddressTo)</dd>

            <dt class="col-sm-2">Delivery Length</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => item.Delivery.Length)</dd>

            <!-- Add more delivery details as needed -->
        </dl>
        <div>

            @Html.ActionLink("Details", "LikedDelivery", new { deliveryId = item.DeliveryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DeliveryId })
        </div>
    </div>
}
