@{
    ViewData["Title"] = "LikedAdList";
}

<h1>LikedAdList</h1>

@foreach (Ad ad in Model)
{
    <div>
        <h4>@Html.DisplayFor(modelItem => ad.Description)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Description)</dd>

            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Price)</dd>

            <dt class="col-sm-2">Ordered</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.IsOrdered)</dd>

            <dt class="col-sm-2">Make</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Car.Make)</dd>

            <dt class="col-sm-2">Model</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Car.Model)</dd>

            <dt class="col-sm-2">Fuel Type</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Car.FuelType)</dd>

            <dt class="col-sm-2">Year</dt>
            <dd class="col-sm-10">@ad.Car.Year.ToString("yyyy")</dd>

            <dt class="col-sm-2">Mileage</dt>
            <dd class="col-sm-10">@Html.DisplayFor(modelItem => ad.Car.Mileage)</dd>

            <!-- Add more car details as needed -->
        </dl>
        <div>
            @Html.ActionLink("Details", "LikedAd", new { id = ad.ID }) |
        </div>
    </div>

}
@if (TempData["OrderResponse"] != null)
{
    <script>
        // Function to display a popup with the order response message
        function displayOrderResponsePopup() {
            var orderResponse = "@TempData["OrderResponse"]";
            alert(orderResponse);
        }

        // Call the function to display the popup when the page loads
        window.onload = function () {
            displayOrderResponsePopup();
        };
    </script>

    // Remove TempData after displaying the message
    TempData.Remove("OrderResponse");
}

